@import "nib"


body,html
  padding: 0
  margin: 0

.cage
  opacity: 0.85


.title
  margin: -140px 0 0 50px
  color: white
  font-weight: 900
  font-size: 50px
  line-height: 50px

.flickr
  fixed: bottom right

.feature
  box-shadow: 6px 6px 3px 3px #333
  margin: 5%
  max-width: 420px
  height: 420px
  background: url('img/dp.jpg')
  background-repeat: no-repeat
  background-position: 50% 50%

  .follows
    padding-top: 5px
    height: 50%
    width: 98%
    text-align: right

    .linkedin
      margin-bottom: 4px
      .li-connect-widget
        background: whiteSmoke
        padding: 2px 3px 2px 3px
        border-radius: 3px


.bg
  absolute: top left
  z-index: -1
  width: 100%
  height: 100%
  background-position: 25% 50%
  opacity: 1
  transition: opacity 3s ease-in-out
  &.inactive
    opacity: 0
